# Defining a dictionary
* Curly braces
* Has key and value
* Key: value

In [2]:
dct = {'hero':'SuperBat',
      'Delivery Consultant': 'Lauren'}

In [4]:
dct.get('hero')

'SuperBat'

In [6]:
d = {0:'zero', 1: 'one', 2:'two'}

In [7]:
type(d)

dict

In [11]:
d

{0: 'zero', 1: 'one', 2: 'two'}

In [13]:
d[2]

'two'

In [14]:
d[1] = 'three'

In [15]:
d

{0: 'zero', 1: 'three', 2: 'two'}

In [17]:
d.items() to extract the data

dict_items([(0, 'zero'), (1, 'three'), (2, 'two')])

In [18]:
len(d) # of elements

3

In [19]:
d.keys()

dict_keys([0, 1, 2])

In [21]:
d.values()

dict_values(['zero', 'three', 'two'])

In [22]:
for i in d.items():
    print(i)

(0, 'zero')
(1, 'three')
(2, 'two')

In [24]:
for k, v in d.items():
    print(k, v)

0 zero
1 three
2 two

In [30]:
d1 = {'zero':0, 'one':1, 'two':2}

In [31]:
d1['two']

2

In [32]:
d2 = {('Lauren', 'Loubens'):'Analytics Specialists'}

In [34]:
d2.values()

dict_values(['Analytics Specialists'])

In [36]:
d3 = {'colors':['Blue', 'Green']}

In [39]:
d3['colors']

['Blue', 'Green']